name: DAST - Teste Dinâmico de Segurança (OWASP ZAP)

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: read
  issues: write
  pull-requests: write
  checks: write

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan de Vulnerabilidades Web

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v3

      - name: Corrigir Permissões
        run: chmod -R 777 .

      - name: Criar Rede do Wazuh (Mock)
        run: docker network create single-node_default

      - name: Subir Infraestrutura (WAF + App + DB)
        run: |
          docker compose up -d --build
          echo "Aguardando 30 segundos para o WAF e App subirem..."
          sleep 30
          docker ps
          echo "--- DEBUG: Testando conexão com a Home ---"
          curl -v http://localhost:80/ || echo "Falha ao conectar no WAF"
          echo "-----------------------------------------"

      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.9.0
        with:
          target: 'http://localhost:80'
          # Removemos o artifact_name para evitar o erro de upload interno
          # artifact_name: 'zap_report' 
          fail_action: false
          allow_issue_writing: true

      # NOVO PASSO: Upload Manual dos Relatórios (Usando a ferramenta oficial v4)
      - name: Upload dos Relatórios ZAP
        if: always() # Roda mesmo se o ZAP achar falhas
        uses: actions/upload-artifact@v4
        with:
          name: relatorio-seguranca-zap
          path: |
            report_html.html
            report_md.md
            report_json.json