name: DAST - Teste Dinâmico de Segurança (OWASP ZAP)

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

permissions:
  contents: read
  issues: write
  pull-requests: write
  checks: write

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    name: Scan de Vulnerabilidades Web

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v3

      - name: Corrigir Permissões
        run: chmod -R 777 .

      - name: Criar Rede do Wazuh (Mock)
        run: docker network create single-node_default

      - name: Subir Infraestrutura (WAF + App + DB)
        run: |
          docker compose up -d --build
          echo "Aguardando 30 segundos para a infraestrutura subir..."
          sleep 30  # Aumentei para 30s para garantir
          docker ps
          
          echo "--- DEBUG: Testando conexão com o WAF ---"
          curl -v http://localhost:80/
          echo "-----------------------------------------"

      # Ataca a porta 80 (WAF) em vez da 5000
      - name: OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.9.0
        with:
          target: 'http://localhost:80' # Ataca o Nginx
          artifact_name: 'zap_report'
          fail_action: false # Não quebra o build (apenas gera relatório)